# dependencies
/node_modules
/backend/node_modules

# next.js
/.next/
/out/

# production
/build
/backend/dist

# env
.env
.env*.local
backend/.env

# uploads
/backend/uploads/*
!/backend/uploads/.gitkeep

# debug
npm-debug.log*
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
